header,
main,
footer {
  padding-left: 240px;
}

select {
  display: inherit;
  height: auto;
  margin-bottom: 5px;
}

iframe {
  border: none;
  width: 100%;
  height: 88vh;
}

nav.top-nav a.page-title {
  font-size: 48px;
}

@media only screen and (max-width: 992px) {
  .side-nav.fixed {
    left: 0;
  }
}

/* ====================================[ Utils ]==================================== */

.hide-soft {
  display: none;
}

.block {
  display: block !important;
}

.padding-left-right {
  padding-left: 20px;
  padding-right: 20px;
}

.inline-block {
  display: inline-block !important;
  margin-right: -4px !important;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.inline {
  display: inline !important;
}

.overflow-auto {
  overflow-x: auto;
  overflow-y: auto;
}

.position-fixed {
  position: fixed;
}

.position-absolute {
  position: absolute !important;
}

.position-relative {
  position: relative !important;
}

.position-static {
  position: static !important;
}

.offset-center {
  top: 49%;
  left: 49%;
}

.vertical-align-middle {
  vertical-align: middle;
}

.vertical-align-middle > * {
  vertical-align: middle;
}

.vertical-align-top {
  vertical-align: top;
}

.vertical-align-top > * {
  vertical-align: top;
}

.vertical-align-bottom {
  vertical-align: bottom;
}

.vertical-align-bottom > * {
  vertical-align: bottom;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-border {
  border: none !important;
}

.no-border-radius {
  border-radius: 0 !important;
}

.transparent-border {
  border-color: transparent !important;
}

.italic {
  font-style: italic !important;
}

.bold {
  font-weight: 700 !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.clickable {
  cursor: pointer !important;
}

.link-disabled,
.link-disabled > * {
  color: #999 !important;
  cursor: default !important;
}

.bottom-box-shadow {
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.15);
}

.preserve-whitespace {
  white-space: pre-wrap;
}

.small-text {
  font-size: 11px !important;
}

.hoverable {
  transition: box-shadow .25s;
  box-shadow: 0;
}

.hoverable:hover {
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
