<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 data-bind="string: 'join.discussion'" class="white-text"></h5>
        <a data-bind="string: 'chat'" class="btn waves-effect waves-light red lighten-3"
           href="https://gitter.im/onlyurei/knockout-spa?utm_source=code"></a>
      </div>
      <div class="col l6 s12" style="overflow: hidden;">
        <h5 data-bind="string: 'connect'" class="white-text"></h5>
        <iframe
            src="https://ghbtns.com/github-btn.html?user=onlyurei&amp;repo=knockout-spa&amp;type=watch&amp;count=true&amp;size=large"
            allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2015-2016 Cheng Fan, All rights reserved.
      <a class="grey-text text-lighten-4 right" href="https://raw.githubusercontent.com/onlyurei/knockout-spa/master/LICENSE">
        MIT License
      </a>
    </div>
  </div>
</footer>
