header,
main,
footer {
  padding-left: 240px;
}

select {
  display: inherit;
  height: auto;
  margin-bottom: 5px;
}

h1 {
  font-size: 2.1rem;
  line-height: 2.31rem;
  margin: 1.05rem 0 0.84rem 0;
}

h2 {
  font-size: 1.78rem;
  line-height: 1.958rem;
  margin: .89rem 0 .712rem 0;
}

h3 {
  font-size: 1.46rem;
  line-height: 1.606rem;
  margin: .73rem 0 .584rem 0;
}

nav.top-nav a.page-title {
  font-size: 30px;
}

nav.top-nav .button-collapse {
  margin-right: 10px;
}

.collapsible-body p {
  padding: .5rem;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}

/* ====================================[ Utils ]==================================== */

.hide-soft {
  display: none;
}

.block {
  display: block;
}

.padding-left-right {
  padding-left: 20px;
  padding-right: 20px;
}

.inline-block {
  display: inline-block;
  margin-right: -4px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.inline {
  display: inline;
}

.overflow-auto {
  overflow-x: auto;
  overflow-y: auto;
}

.position-fixed {
  position: fixed;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.position-static {
  position: static;
}

.offset-center {
  top: 49%;
  left: 49%;
}

.vertical-align-middle {
  vertical-align: middle;
}

.vertical-align-middle > * {
  vertical-align: middle;
}

.vertical-align-top {
  vertical-align: top;
}

.vertical-align-top > * {
  vertical-align: top;
}

.vertical-align-bottom {
  vertical-align: bottom;
}

.vertical-align-bottom > * {
  vertical-align: bottom;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-border {
  border: none;
}

.no-border-radius {
  border-radius: 0;
}

.transparent-border {
  border-color: transparent;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

.clickable {
  cursor: pointer;
}

.link-disabled,
.link-disabled > * {
  color: #999;
  cursor: default;
}

.bottom-box-shadow {
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.15);
}

.preserve-whitespace {
  white-space: pre-wrap;
}

.small-text {
  font-size: 11px;
}
