<section class="row">
  <!-- ko template: 'app/shared/error' --><!-- /ko -->
  <ul data-bind="foreach: files" class="col m3">
    <li>
      <a data-bind="attr: { href: '?file=' + $data },
                    text: $data, css: { bold: $parent.file() && ($data === window.location.search.remove('?file=')) }"
         class="hoverable"></a>
    </li>
  </ul>
  <div class="col m9">
    <h6 data-bind="text: file().from(1)" class="file-path"></h6>
    <!-- ko if: file().compact() -->
    <file params="url: file"></file>
    <!-- /ko -->
  </div>
</section>
