.resources .collapsible .collapsible-header {
  background-color: #f3f3f3;
}

.resources .collapsible .collapsible-header img {
  height: 42px;
}

.resources main .collapsible iframe {
  border: none;
  width: 100%;
  height: 88vh;
}
